{% extends 'base.html.twig' %}

{% block body %}
    <div class="container {{ location.colour }}">
        <div class="row detail-text">
            <div class="mt-4">
                <h3 class="text-center mb-4">{{location.name}}</h3>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <iframe class="location-video" width="800" height="500" src="{{location.videos}}"></iframe>
            </div>
            <div class="links">
                <p>{{location.summary}}</p>
                <div class="m-4">
                    <a class="site_link m-1" href="{{location.links}}">Website</a>
                    <a class="site_link m-1" href="{{location.googleMap}}">Google Map</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}